<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="../../assets/img/favicon.png" type="image/x-icon">
        <title>Portafolio</title>
    </head>
    <body>
        <table border="1">
            <tr>
                <th>Curriculum Vitae</th>
            </tr>
            <tr>
                <td><img src="../../assets/img/curriculum-vitae/portafolio.png" alt="portafolio"></td>
            </tr>
        </table>
    </body>
</html>
