<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="shortcut icon" href="../../assets/img/favicon.png" type="image/x-icon">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <title>Iguana Page</title>
    </head>
    <body>
        <header>
            <h1>IGUANAS</h1>
        </header>

        <section class="bg">
            <img src="../../assets/img/iguana-page/bg-header.jpg" alt="bg-header">
        </section>

        <section class="section-1">
            <div>
                <div class="iguana-1">
                    <p>
                        La iguana es un reptil perteneciente a la familia Iguanadiae.
                        Su tamaño está entre los 15 cm hasta los 2 metros de largo y
                        puede llegar a pesar unos 15 kg. Cuando están jóvenes tienen
                        una coloración con tonos verdes y al ir madurando predomina un
                        color grisáceo con crestas o espinas en su espalda.
                    </p>
                    <p>
                        La alimentación de la iguana va variando según su etapa de vida,
                        pero la mayor parte de sus años son herbívoras. Viven en lugares
                        tropicales con mucha vegetación y es un animal que puede ser domesticado.
                    </p>
                </div>
                <div class="iguana-1">
                    <img src="../../assets/img/iguana-page/iguana-1.jpg" alt="iguana-1">
                </div>
            </div>
        </section>

        <section class="desc-section">
            <h2>CARACTERÍSTICAS</h2>
            <div>
                <div class="iconos">
                    <i class="far fa-eye fa-2x icon-sections"></i>
                    <p>Tercer ojo</p>
                </div>
                <div class="iconos">
                    <i class="fab fa-angellist fa-2x icon-sections"></i>
                    <p>Pacifistas</p>
                </div>
                <div class="iconos">
                    <i class="fas fa-paint-brush fa-2x icon-sections"></i>
                    <p>Cambian de color</p>
                </div>
            </div>
        </section>

        <section class="iguanas">
            <article class="iguana">
                <img src="../../assets/img/iguana-page/iguana-2.jpg" alt="iguana-2">
            </article>

            <article class="iguana">
                <img src="../../assets/img/iguana-page/iguana-3.jpg" alt="iguana-3">
            </article>

            <article class="iguana">
                <img src="../../assets/img/iguana-page/iguana-4.jpg" alt="iguana-4">
            </article>
        </section>

        <footer>
            <p>Visita https://www.anipedia.net/iguanas/iguana-verde/ para conocer más.</p>
        </footer>
    </body>
</html>
