<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="assets/css/normalize.css">
        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="shortcut icon" href="../../assets/img/favicon.png" type="image/x-icon">
        <title>DecoBonsais</title>
    </head>
    <body>
        <div class="header">
            <h1><strong>Deco</strong>Bonsáis</h1>
            <p>Bonsáis <span>decorativos</span> para tu <span>hogar</span></span></p>
        </div>
        <div class="products">
            <table>
                <tr>
                    <td><img src="../../assets/img/landing-page/bonsai_tradicional.jpg" alt="bonsai-tradicional" /></td>
                    <td>
                        <p>Bonsái Tradicional</p>
                        <p>Precio: <span>$99.900</span></p>
                    </td>
                </tr>
                <tr>
                    <td><img src="../../assets/img/landing-page/bonsai_jardin.jpg" alt="bonsai-jardin" /></td>
                    <td>
                        <p>Bonsái de Jardín</p>
                        <p>Precio: <span>$127.000</span></p>
                    </td>
                </tr>
                <tr>
                    <td><img src="../../assets/img/landing-page/bonsai_macetero.jpg" alt="bonsai-macetero" /></td>
                    <td>
                        <p>Bonsái Macetero</p>
                        <p>Precio: <span>$119.500</span></p>
                    </td>
                </tr>
            </table>
        </div>
        <div class="footer">@decobonsais</div>
    </body>
</html>
